[project]
name = "pythonproject"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = "==3.11.*"
dependencies = [
    "flask>=3.1.2",
    "opencv-python>=4.13.0.90",
    "pandas>=3.0.0",
    "reportlab>=4.4.9",
    "ultralytics>=8.4.9",
]
